# third party
.deps
./deps/3rd
./deps/libevent
./deps/googletest
./deps/jsoncpp
./deps/benchmark

# ide related
.vscode
.idea

# build
build/*
build_*
cmake-build-*/*
build

# misc
./docs/doxy/
.cache/*
.DS_Store
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
docs/book
#*#
